/* Breakpoints */
@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin image {
    overflow: hidden;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-shrink: 1;
    box-sizing: border-box;
    align-items: center;
    width: 180px;
    height: 180px;

    @include mobile-only {
        margin: 0 0 auto 0;
        width: 100px;
        height: 100px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include mobile-only {
            // width: -webkit-fill-available;
        }
    }
}

@mixin title {
    color: $color-primary-txt-dark;
    margin: 0;
    font-weight: 400;

    @include desktop-only {
        font-size: 2.2rem;
    }

    @include mobile-only {
        font-size: 2.1rem;
    }
}

@mixin details {
    display: flex;
    flex-direction: column;

    & .description {
        margin: auto;
        padding: .1rem;
    }

    & .localisation {
        color: $color-secondary-txt-dark;
    }
}

@mixin btn {
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: #FFF;
    background: $color-primary-bg-dark;

    @include desktop-only {
        padding: 1rem;
    }

    @include mobile-only {
        letter-spacing: 2px;
        padding: 0.5rem;
    }

    &:hover,
    &:focus,
    &:focus-visible {
        background: $color-secondary-bg-dark;
        color: initial;
    }
}

@mixin btn-close {

    .close:before,
    .close:after {
        position: absolute;
        content: " ";
        width: 4px;
        background-color: #fff;
        right: 25%;

        @include desktop-only {
            height: 50px;
        }

        @include mobile-only {
            height: 30px;
        }
    }

    .close:before {
        transform: rotate(45deg);
    }

    .close:after {
        transform: rotate(-45deg);
    }
}