/* 
* Logo: Fisheye
 */

#logo {
    padding: 20px;
    box-sizing: border-box;

    @include mobile-only {
        padding: 1.5rem 0.5rem 0;
        margin: 1rem 0 -0.5rem;
    }

    img {
        width: 150px;

        @include mobile-only {
            width: 120px;
        }
    }
}