/* 
* Tag: header
 */

.tag {
    display: flex;
    color: $color-secondary-txt-dark;
    margin: 2px;
    border: 1px solid #cccccc;
    border-radius: 1rem;
    width: fit-content;
    font-weight: 600;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    min-width: fit-content;

    & a:hover,
    & a:focus,
    & a:focus-visible {
        background: $color-secondary-txt-dark;
        color: #FFF;
    }

    a {
        display: block;
        padding: 1px 5px;
    }

    @include desktop-only {
        a {
            font-size: .8rem;
        }
    }

    @include mobile-only {
        a {
            font-size: .7rem;
        }
    }


}