/* 
* Tag: header
 */

.tag {
    display: flex;
    color: $color-secondary-txt-dark;
    margin: 2px;
    border: 1px solid #cccccc;
    border-radius: 1rem;
    width: fit-content;
    font-weight: 600;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    min-width: fit-content;



    a {
        display: block;
        padding: 1px 5px;
        font-size: .7rem;

        &:hover,
        &:focus,
        &:focus-visible,
        &:focus-within {
            background: $color-secondary-txt-dark;
            color: #FFF;
        }

        @include mobile-only {
            font-size: .6rem;
        }
    }
}